
<p class="lead">戻ってきました！ エモリハウス！</p>

<p>女性がRubyKaigiに参加しやすくなるといいなあ、 そんな家主の思いからはじまったエモリハウス。</p>
<p>女性のRubyKaigi参加者たちといっしょに泊まって、わいわいしよう！という企画です。</p>
<p>RubyKaigiが地方開催になった2016年の京都で発生してから、2017年広島、2018年仙台、2019年福岡と開催してきました。</p>
<p>そして、RubyKaigi 2023 in Matz本 で久しぶりに戻ってきます！エモリハウス 2023！</p>
<p>常連さんもはじめましての方も、いっしょにエモリハウスに泊まってRubyKaigiに参加しましょう！</p>

<div class="row">
  <div class="col-md-6">
    <h5>
      <a href="https://rubykaigi.org/2023"><i class="far fa-gem"></i> RubyKaigi 2023</a>
    </h5>
    <ul>
      <li><i class="far fa-calendar-alt"></i> 2023/05/11 Thu. 〜 2019/05/13 Sat.</li>
      <li><a href="https://www.mpac-en.com/"><i class="fas fa-map-marker-alt"></i>まつもと市民芸術館</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h5><i class="fas fa-home"></i> エモリハウス</a>
    </h5>
    <ul>
      <li><i class="far fa-calendar-alt"></i> 2023/05/10 Wed. 〜 2023/05/14 Sun.</li>
      <li><small>RubyKaigiの前日チェックイン<br>最終日の次の日チェックアウト</small></li>
      <li><a href="https://matsumoto-minkahouse.com/"><i class="fas fa-map-marker-alt"></i>ミンカハウス minka house</a></li>
    </ul>
  </div>
</div>

<div class="description">
  <p class="emphasis">エモリハウス2023は定員になりましたので、メンバーの募集を締め切りました。</p>
  <p>エモリハウスに関するお問い合わせは <script>secretaddress();</script> までお願いします。</p>
</div>
