
<p class="lead"><strong>はじめましてはじめまして。</strong></p>


<div class="row row-eq-height">
  <div class="col-md-3 members">
    <img src="http://www.gravatar.com/avatar/5c72a69ad460347a01aa05de9915c3e0">
    <div class="name">emorima</div>
    <div class="profile">
      <p>家主。</p>
      <p>酒とRubyと、時々、(福山)雅治。Asakusa.rb, Rails Girls, 千鳥足.rb </p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/emorima"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/emorima"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/378800000561709251/efc8828aff9cb20e8e922923de9e878b_400x400.jpeg">
    <div class="name">yadaita</div>
    <div class="profile">
      <p>くまモン好きのRubyist。</p>
      <p><!--- TODO ---></p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/yadaita"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/1590886355315216385/ILedg2XO_400x400.jpg">
    <div class="name">sakahukamaki</div>
    <div class="profile">
      <p>猫の財布。副業でフリーランス。屋号は路地ラボ。</p>
      <p>猫/演劇/映画/文章/ボドゲ/いろいろ</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/sakahukamaki"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/1423533979336990720/OYCj7rQ6_400x400.jpg">
    <div class="name">Ossan2go</div>
    <div class="profile">
      <p>神出鬼没の食いしん坊</p>
      <p>特技はエクストリーム編み物</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/Ossan2go"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://www.gravatar.com/avatar/eab7d4b36a98bc9e0cd00e69e8fc57e9">
    <div class="name">beta_chelsea</div>
    <div class="profile">
      <p>情シス兼Rubyist</p>
      <p>酒耐性は低いがツマミは無限に喰える</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/beta_chelsea"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/1368470412577763335/mkCx0VbT_400x400.jpg">
    <div class="name">undo</div>
    <div class="profile">
      <p>Rubyのメッカ松江でフリーランスやってます。</p>
      <p>同人/TRPG/ボードゲーム</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/123undo"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/1421682409968336901/wLDrUvl5_400x400.jpg">
    <div class="name">asya81</div>
    <div class="profile">
      <p>初心者Rubyist</p>
      <p>フィヨルドブートキャンプ生/自作キーボード/空手</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/kota_syan"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/asya81"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/931543886903701505/5e8ITc_t_400x400.jpg">
    <div class="name">pupupopo88</div>
    <div class="profile">
      <p>なんちゃってサーバサイドエンジニア</p>
      <p>🍺 / 🍶 / 🍣 / 🦀</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/pupupopo88"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/pupupopo88"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <!-- template
  <div class="col-md-3 members">
    <img src="<icon url>">
    <div class="name"><screen name></div>
    <div class="profile">
      <p><anatano koto wo oshiete ne></p>
      <p></p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/<screen name>"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/<screen name>"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>
  -->
</div>
