<header class="site-header">

  <nav class="navbar navbar-expand-xl navbar-light">
    <a class="navbar-brand" href="/">emorihouse</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#intro">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#members">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rubykaigi2023_gourmet_map">グルメマップ</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> History </a>
		  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			<a class="dropdown-item" href="/2019">2019</a>
			<a class="dropdown-item" href="/2020">2020</a>
		  </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
