
<p class="lead">沖縄では２棟でやります！ エモリハウス ＆ ヤダハウス！ </p>

<p>女性がRubyKaigiに参加しやすくなるといいなあ、 そんな家主の思いからはじまったエモリハウス。</p>
<p>女性のRubyKaigi参加者たちといっしょに泊まって、わいわいしよう！という企画です。</p>

<p>RubyKaigiが地方開催になった2016年の京都で発生してから、</p>
<p>2017年広島、2018年仙台、2019年福岡、2023年松本と開催してきました。</p>

<p>RubyKaigi 2024 in Okinawa では、スケールアウトして、２棟！</p>

<p>常連さんもはじめましての方も、いっしょにエモリハウス・ヤダハウスに泊まって</p>
<p>RubyKaigiに参加しましょう！</p>

<div class="row">
  <div class="col-md-4">
    <h5>
      <a href="https://rubykaigi.org/2024"><i class="far fa-gem"></i> RubyKaigi 2024</a>
    </h5>
    <ul>
      <li><i class="far fa-calendar-alt"></i> 2024/05/15 Wed. 〜 2024/05/17 Fri.</li>
      <li><a href="https://www.nahart.jp/"><i class="fas fa-map-marker-alt"></i>那覇文化芸術劇場なはーと</a></li>
    </ul>
  </div>

  <div class="col-md-4">
    <h5><i class="fas fa-home"></i> エモリハウス</a>
    </h5>
    <ul>
      <li><i class="far fa-calendar-alt"></i> 2024/05/13 Mon. or 2024/05/14 Tue. 〜 2024/05/18 Sat.</li>
      <li><small>RubyKaigiの前々日 or 前日チェックイン<br>最終日の次の日チェックアウト</small></li>
      <li><a href="https://www.instagram.com/familyroomokinawa/"><i class="fas fa-map-marker-alt"></i>FamilyRoomOkinawa</a></li>
    </ul>
  </div>

  <div class="col-md-4">
    <h5><i class="fas fa-home"></i>ヤダハウス</a>
    </h5>
    <ul>
      <li><i class="far fa-calendar-alt"></i> 2024/05/14 Tue. 〜 2024/05/18 Sat.</li>
      <li><small>RubyKaigiの前日チェックイン<br>最終日の次の日チェックアウト</small></li>
      <li><a href="https://conveniam.com/rooms/detail/35"><i class="fas fa-map-marker-alt"></i>旅の宿シビランカ</a></li>
    </ul>
  </div>
</div>

<div class="description">
  <p>お申し込みはこちらから！👉 <a href="https://t.co/Na7x9Tnagd">お申し込みフォーム</a></p>
<!---
  <p class="emphasis">エモリハウス・ヤダハウス2024は定員になりましたので、メンバーの募集を締め切りました。</p>
--->
  <p>エモリハウスに関するお問い合わせは <script>secretaddress();</script> までお願いします。</p>


</div>
