
<p class="lead"><strong>はじめましてはじめまして。</strong></p>


<div class="row row-eq-height">
  <div class="col-md-3 members">
    <img src="http://www.gravatar.com/avatar/5c72a69ad460347a01aa05de9915c3e0">
    <div class="name">emorima</div>
    <div class="profile">
      <p>エモリハウス家主。</p>
      <p>酒とRubyと、時々、(福山)雅治。Asakusa.rb, Rails Girls, 千鳥足.rb </p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/emorima"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/emorima"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/378800000561709251/efc8828aff9cb20e8e922923de9e878b_400x400.jpeg">
    <div class="name">yadaita</div>
    <div class="profile">
      <p>ヤダハウス家主。</p>
      <p>くまモン好きのRubyist。</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/yadaita"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/931543886903701505/5e8ITc_t_400x400.jpg">
    <div class="name">pupupopo88</div>
    <div class="profile">
      <p>なんちゃってサーバサイドエンジニア</p>
      <p>🍺 / 🍶 / 🍣 / 🦀</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/pupupopo88"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/pupupopo88"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>
  <div class="col-md-3 members">
    <img src="https://www.gravatar.com/avatar/eab7d4b36a98bc9e0cd00e69e8fc57e9">
    <div class="name">beta_chelsea</div>
    <div class="profile">
      <p>好きなメソッドはmap</p>
      <p>酒耐性は低いがツマミを無限に喰う</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/beta_chelsea"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
  <div class="col-md-3 members">
    <img src="https://ja.gravatar.com/userimage/174466828/d239339a740f0d6f03671b648c1e0445.jpeg">
    <div class="name">sakahukamaki</div>
    <div class="profile">
      <p>猫の財布。副業でフリーランス。屋号は路地ラボ。</p>
      <p>猫/演劇/映画/文章/ボドゲ/いろいろ</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/sakahukamaki"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
  <div class="col-md-3 members">
    <img src="https://gravatar.com/avatar/dce2defbc8391d4194fbb6782064f493">
    <div class="name">asya81</div>
    <div class="profile">
      <p>Rubyist 🔰</p>
      <p>フィヨルドブートキャンプ生/自作キーボード/空手</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/kota_syan"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/asya81"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>
  <div class="col-md-3 members">
    <img src="https://www.gravatar.com/avatar/fc30ba62e9f29a6e20ccfe4e60a85a52">
    <div class="name">motohiro</div>
    <div class="profile">
      <p>フィヨルドブートキャンプで<br>学習中 📚</p>
      <p>Youtube 👀 /ゲーム 🎮 /飯 🍽️</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/motohiromm"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/motohiro-mm"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/570144165409738752/UKbc9xT0_400x400.png">
    <div class="name">aoirolamp</div>
    <div class="profile">
      <p>Rubyist</p>
      <p>美味いものに目がない</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/aoirolamp"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://www.gravatar.com/avatar/75af372c37c6b01aac3fdbb24f20ab90">
    <div class="name">akina</div>
    <div class="profile">
      <p>SRE -> Backend Engineer</p>
      <p>❤️  🐕 ❤️  🍻 ❤️  🎶 ❤️ </p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/25_aaa3"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://www.gravatar.com/avatar/ddc4f0d03245ded5e6ddee5f81380ec0">
    <div class="name">Judeee</div>
    <div class="profile">
      <p>🔍フィヨルドブートキャンプで学習中🔍</p>
      <p>RubyKaigi初参加💎</p>
      <p>可愛いものが大好き🥰</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/_judeee_"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://www.gravatar.com/avatar/96eda494608976479704db04f37c9435">
    <div class="name">yokomaru</div>
    <div class="profile">
      <p>フィヨルドブートキャンプ生🐣</p>
      <p>サンリオ/中本/レトロゲーム/🐈/手芸など</p>
      <p>沖縄そばをたらふく食べたい</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/00yokomaru00"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://gravatar.com/userimage/249005319/93f8c7ffc059ad4494cfd28098517447">
    <div class="name">bore-ko</div>
    <div class="profile">
      <p>フィヨルドブートキャンプ生</p>
      <p>初参加です<i class="fas fa-home"></i><i class="far fa-gem"></i></p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/bore_ko"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
  
  <div class="col-md-3 members">
    <img src="https://www.gravatar.com/avatar/321c41b964d15a58a4f18e1a3f1e61f9?s=200">
    <div class="name">ishikawa999</div>
    <div class="profile">
      <p>ひさびさのRubyKaigi && はじめてのエモリハウス・ヤダハウス🏠</p>
      <p>%w(ゲーム 謎解き 温泉 カフェ)</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/_ishikawa999"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/ishikawa999"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <!-- template
  <div class="col-md-3 members">
    <img src="<icon url>">
    <div class="name"><screen name></div>
    <div class="profile">
      <p><anatano koto wo oshiete ne></p>
      <p></p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/<screen name>"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/<screen name>"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>
  -->
</div>
