
<ul>
  <li>はじめましての方 👩も、お子様 👧👦と一緒に泊まりたい方も歓迎です！</li>
  <li>エモリハウスに参加したい女性からのご連絡をお待ちしています。</li>
</ul>

<div class="contact_form">

  <form action="https://getsimpleform.com/messages?form_api_token=0d8cd3732773d17737b99a3ef118245a" method="post">
    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <!--<input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />-->

    <div class="form-row">
      <div class="col">
        <input class="form-control" type="text" name="name" placeholder="お名前" required>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <input class="form-control" type="email" name="email" placeholder="メールアドレス" required>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <textarea type="text" name="message" class="form-control" placeholder="メッセージ" rows=5 required></textarea>
      </div>
    </div>

    <!--<div class="form-row">-->
      <!--<small style="display: block; text-align: left;">-->
        <!--※ 注意点あれば。<br>-->
        <!--※ 注意点あれば。<br>-->
      <!--</small>-->
    <!--</div>-->

    <input type='submit' value='エモリハウスに応募する' class="btn btn-secondary" />

  </form>

</div>
