<form class="contact-form" action="https://getsimpleform.com/messages?form_api_token=305abb354cdb34b24b27a35c31729334" method="post">
    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <input type='hidden' name='redirect_to' value='http://emori.house' />

    <input type="text" name="name" placeholder="name" required>
    <input type="email" name="email" placeholder="email" required>
    <input type="text" name="tw_account" placeholder="twitter account" required>
    <textarea name="message" placeholder="messages" required></textarea>

    <div id="check-g-recaptcha" class='g-recaptcha'></div>

    <input type="submit" value="SEND" id='btn_send' disabled>
</form>
