
<p class="lead"><strong>はじめましてはじめまして。</strong></p>


<div class="row row-eq-height">
  <div class="col-md-3 members">
    <img src="http://www.gravatar.com/avatar/5c72a69ad460347a01aa05de9915c3e0">
    <div class="name">emorima</div>
    <div class="profile">
      <p>家主。</p>
      <p>酒とRubyと、時々、(福山)雅治。Asakusa.rb, Rails Girls, 千鳥足.rb </p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/emorima"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/emorima"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/556323648810663937/rzzBs46L_400x400.jpeg">
    <div class="name">cobachie</div>
    <div class="profile">
      <p>エモリハウス4年目の住人。</p>
      <p>FujirockerなRubyist。</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/co_bachie"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/629308625966620672/TG2YZOJ__400x400.png">
    <div class="name">kanahebi</div>
    <div class="profile">
      <p>ももクロちゃん大好きなRubyist.</p>
      <p>プログラミングしたり、トランペット吹いたり、LINEスタンプ作ったりしてます。</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/kanahebiZ"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/kanahebi"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/378800000561709251/efc8828aff9cb20e8e922923de9e878b_400x400.jpeg">
    <div class="name">yadaita</div>
    <div class="profile">
      <p>くまモン好きのRubyist。</p>
      <p>RubyKaigi終了後、熊本まで足を伸ばすことを画策中。</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/yadaita"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/915871251796652032/iwFrAw52_400x400.jpg">
    <div class="name">neko</div>
    <div class="profile">
      <p>瀬戸内育ちRubyist</p>
      <p>激辛フードファイター</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/naotyome"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/neko314"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/570144165409738752/UKbc9xT0_400x400.png">
    <div class="name">aoirolamp</div>
    <div class="profile">
      <p>美味しいごはんとお酒があるとハッピー</p>
      <p>温泉があればより幸せ</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/aoirolamp"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/822444944409247745/M7xQq8py_400x400.jpg">
    <div class="name">ta8co</div>
    <div class="profile">
      <p>全国銘菓に惹かれます</p>
      <p>デパ地下大好き！</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/ta8co"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
  
  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/1031936319759380480/mmzDxnVr_400x400.jpg">
    <div class="name">Ossan2go</div>
    <div class="profile">
      <p>神出鬼没の食いしん坊</p>
      <p>特技はエクストリーム編み物</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/Ossan2go"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
  
  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/1629697059/youchan_square_bigger.jpg">
    <div class="name">youchan</div>
    <div class="profile">
      <p>山<s>ガール</s>女なRubyist</p>
      <p>好きなものは日本酒とクラフトビール</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/youchan"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
  
  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/1043663432191377409/z1Zj0u6m_400x400.jpg">
    <div class="name">shiinoaya</div>
    <div class="profile">
      <p>伊予の国でのんびり生活</p>
      <p>温泉とドライブが癒し</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/Dobby618"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/dobby618"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="https://www.gravatar.com/avatar/7af084df2355b0c15aae1f7b57969dbd">
    <div class="name">kiryuanzu</div>
    <div class="profile">
      <p>京都の大学生Rubyistです</p>
      <p>好きなことはブログ執筆やコスメ集めです。川に行くのが楽しみです</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/anzu_mmm"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/kiryuanzu"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="https://www.gravatar.com/avatar/b88c8c867a259c2bcb23468f5f6d8a57">
    <div class="name">meru</div>
    <div class="profile">
      <p>ぐうたら好きRubyist</p>
      <p>アニメを観たり、楽器をやったりしています</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/c5meru"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/c5meg1012"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

</div>

