
<p><strong>はじめましてはじめまして。</strong></p>


<div class="row row-eq-height">
  <div class="col-md-3 member">
    <img src="http://www.gravatar.com/avatar/5c72a69ad460347a01aa05de9915c3e0">
    <div class="name">emorima</div>
    <div class="profile">
      <p>家主。</p>
      <p>dummy dummy dummy dummy dummy dummy dummy dummy.</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/emorima"><i class="fab fa-twitter fa-2x"></i></a>
      <!--<a href=""><i class="fab fa-github fa-2x"></i></a>-->
    </div>
  </div>

  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/556323648810663937/rzzBs46L_400x400.jpeg">
    <div class="name">cobachie</div>
    <div class="profile">
      <p>エモリハウス歴4年の住人。</p>
      <p>dummy dummy dummy dummy dummy dummy dummy dummy.</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/co_bachie"><i class="fab fa-twitter fa-2x"></i></a>
      <!--<a href=""><i class="fab fa-github fa-2x"></i></a>-->
    </div>
  </div>

  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/629308625966620672/TG2YZOJ__400x400.png">
    <div class="name">kanahebi</div>
    <div class="profile">
      <p>ももクロちゃん大好きなRubyist.</p>
      <p>プログラミングしたり、トランペット吹いたり、LINEスタンプ作ったりしてます。</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/kanahebiZ"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/kanahebi"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="">
    <div class="name">name</div>
    <div class="profile">
      dummy dummy dummy dummy dummy dummy dummy dummy.
    </div>
    <div class="sns_icon">
      <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      <a href=""><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="">
    <div class="name">name</div>
    <div class="profile">
      dummy dummy dummy dummy dummy dummy dummy dummy.
    </div>
    <div class="sns_icon">
      <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      <a href=""><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="">
    <div class="name">name</div>
    <div class="profile">
      dummy dummy dummy dummy dummy dummy dummy dummy.
    </div>
    <div class="sns_icon">
      <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      <a href=""><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="">
    <div class="name">name</div>
    <div class="profile">
      dummy dummy dummy dummy dummy dummy dummy dummy.
    </div>
    <div class="sns_icon">
      <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      <a href=""><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="">
    <div class="name">name</div>
    <div class="profile">
      dummy dummy dummy dummy dummy dummy dummy dummy.
    </div>
    <div class="sns_icon">
      <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      <a href=""><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="">
    <div class="name">name</div>
    <div class="profile">
      dummy dummy dummy dummy dummy dummy dummy dummy.
    </div>
    <div class="sns_icon">
      <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      <a href=""><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="">
    <div class="name">name</div>
    <div class="profile">
      dummy dummy dummy dummy dummy dummy dummy dummy.
    </div>
    <div class="sns_icon">
      <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      <a href=""><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="">
    <div class="name">name</div>
    <div class="profile">
      dummy dummy dummy dummy dummy dummy dummy dummy.
    </div>
    <div class="sns_icon">
      <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      <a href=""><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3">
    <img src="">
    <div class="name">name</div>
    <div class="profile">
      dummy dummy dummy dummy dummy dummy dummy dummy.
    </div>
    <div class="sns_icon">
      <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      <a href=""><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>
</div>
