
<p class="lead">松山でもやります！ エモリハウス！ </p>

<p>女性がRubyKaigiに参加しやすくなるといいなあ、 そんな家主の思いからはじまったエモリハウス。</p>
<p>女性のRubyKaigi参加者たちといっしょに泊まって、わいわいしよう！という企画です。</p>

<p>RubyKaigiが地方開催になった2016年の京都で発生してから、</p>
<p>2017年広島、2018年仙台、2019年福岡、2023年松本、2024年沖縄と開催してきました。</p>

<p>常連さんもはじめましての方も、いっしょにエモリハウスに泊まって</p>
<p>RubyKaigi 2025に参加しましょう！</p>

<div class="row">
  <div class="col-md-4">
    <h5>
      <a href="https://rubykaigi.org/2025"><i class="far fa-gem"></i> RubyKaigi 2025</a>
    </h5>
    <ul>
      <li><i class="far fa-calendar-alt"></i> 2025/04/16 Wed. 〜 2025/04/18 Fri.</li>
      <li><a href="https://www.nahart.jp/"><i class="fas fa-map-marker-alt"></i>愛媛県県民文化会館</a></li>
    </ul>
  </div>

  <div class="col-md-4">
    <h5><i class="fas fa-home"></i> エモリハウス</a>
    </h5>
    <ul>
      <li><i class="far fa-calendar-alt"></i> 2025/04/15 Tue. 〜 2025/04/19 Sat.</li>
      <li><small>RubyKaigiの前日チェックイン<br>最終日の次の日チェックアウト</small></li>
      <li><a href="https://hotel.travel.rakuten.co.jp/hinfo/188087/"><i class="fas fa-map-marker-alt"></i>松山大街道ＨＯＴＥＬさくら</a></li>
    </ul>
  </div>
</div>

<div class="description">
  <p>お申し込みはこちらから！👉 <a href="https://forms.gle/6z1yph9BNuuVwD9r8">お申し込みフォーム</a></p>
<!---
  <p class="emphasis">エモリハウス・ヤダハウス2025は定員になりましたので、メンバーの募集を締め切りました。</p>
--->
  <p>エモリハウスに関するお問い合わせは <script>secretaddress();</script> までお願いします。</p>
</div>
