
<p class="lead"><strong>はじめましてはじめまして。</strong></p>


<div class="row row-eq-height">
  <div class="col-md-3 members">
    <img src="http://www.gravatar.com/avatar/5c72a69ad460347a01aa05de9915c3e0">
    <div class="name">emorima</div>
    <div class="profile">
      <p>エモリハウス家主。</p>
      <p>酒とRubyと、時々、(福山)雅治。Asakusa.rb, Rails Girls, 千鳥足.rb </p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/emorima"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/emorima"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/378800000561709251/efc8828aff9cb20e8e922923de9e878b_400x400.jpeg">
    <div class="name">yadaita</div>
    <div class="profile">
      <p>ヤダハウス家主。</p>
      <p>くまモン好きのRubyist。</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/yadaita"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://www.gravatar.com/avatar/eab7d4b36a98bc9e0cd00e69e8fc57e9">
    <div class="name">beta_chelsea</div>
    <div class="profile">
      <p>好きなメソッドはmap</p>
      <p>最近日本酒が美味しいことに気付いた</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/beta_chelsea"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/betachelsea"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://gravatar.com/avatar/2409709a159893a641aa7abfe5536ac32d6a2d08592a99354d9cfd35269f3a67">
    <div class="name">cindyliu923</div>
    <div class="profile">
      <p><i class="far fa-gem"></i>Ruby好きな台湾人🇹🇼</p>
      <p>🚀Railsで仕事して、📖日本語勉強中</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/cindyliu923"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/cindyliu923"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/1271443265192001536/woYCqSkz_400x400.jpg">
    <div class="name">mishmashtan</div>
    <div class="profile">
      <p>EnglishOK, 日本まぁ…毎日頑張ります</p>
      <p>毎日エンジニア、時々アーティスト、オーストラリア人in🗾</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/mishmashtan"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/mish-tan"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <div class="col-md-3 members">
    <img src="https://pbs.twimg.com/profile_images/931543886903701505/5e8ITc_t_400x400.jpg">
    <div class="name">pupupopo88</div>
    <div class="profile">
      <p>なんちゃってサーバサイドエンジニア</p>
      <p>🍺 / 🍶 / 🍣 / 🦀</p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/pupupopo88"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/pupupopo88"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>

  <!-- template
  <div class="col-md-3 members">
    <img src="<icon url>">
    <div class="name"><screen name></div>
    <div class="profile">
      <p><anatano koto wo oshiete ne></p>
      <p></p>
    </div>
    <div class="sns_icon">
      <a href="https://twitter.com/<screen name>"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://github.com/<screen name>"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>
  -->
</div>
