---
---

$bg-base-color: rgba(239, 239, 234, .5);
$color-dark: #333;
$color-highlighter-pink: #ef5777;
$color-pink: #f53b57;

body {
  background-color: $bg-base-color;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "YuGothic","Yu Gothic", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

header {
  background-color: #ffffff;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #333333;
  height: 5rem;
  width: 100%;

  p {
    color: #fff;
  }

  .copyright {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 5rem;
  }
}

.navbar {
  padding: 2rem 1rem;

  .navbar-brand {
    font-size: 1.5em;
    font-weight: 700;
  }

  .navbar-toggler {
    border: 0;
  }
}

a {
  color: $color-dark;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  &:hover {
    color: $color-highlighter-pink;
    text-decoration: none;
  }
}

.area-title {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin-top: 2em;
  color: $color-dark;
  font-weight: 600;
  font-size: 1.3em;

  &:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 35px;
    height: 4px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: $color-dark;
    border-radius: 2px;
  }
}


.page-title {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin-top: 2em;
  color: $color-dark;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.content {
  padding: 1em .5em 3em .5em;
  line-height: 1.8em;
  word-wrap: break-word;
}

.description {
  margin-bottom: 1.5em;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

.lead {
  font-size: 1em;
  font-weight: bolder;
  margin: 1em;
}

.emphasis {
  color: #e74c3c;
  font-weight: bold;
}

#intro {

  .intro-inner {
    position: relative;
  }

  .intro-title {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15%;

    h1 {
      font-size: 6em;
      font-weight: 800;
      color: #fff;
      text-align: center;
    }
  }

  img {
    width: 100%;
    height: 35em;
    object-fit: cover;
    opacity: .75;
  }
}

#about {
  background-color: #ffffff;

  p {
    margin-bottom: .2em;
  }

  .row {
    margin-top: 2em;
  }

  h5 {
    display: inline-block;
    font-size: 1.1em;
    background: linear-gradient(transparent 60%, #F1A9A0 60%);
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
    line-height: 2em;
    padding: .5rem;
    font-size: .9em;
  }


  @media (max-width:767px) {
    .lead {
      font-size: calc((100% + 0.25vw) * 0.85);
      text-align: center;
    }

    p {
      font-size: calc((100% + 0.25vw) * 0.75);
      margin-bottom: .1em;
      text-align: left;
    }
  }
}

#members {
  .members {
    margin-bottom: 2em;
  }

  img {
    width: 80px;
    border-radius: 50%;
    margin-top: 1em;
  }

  .name {
    padding-top: .5em;
    font-weight: 600;
  }

  .profile {
    margin-bottom: .5em;

    p {
      margin-bottom: 0;
      font-size: .8em;
    }
  }

  .sns_icon a {
    color: #989898;
  }
}

#map {
  background-color: $color-dark;

  .area-title {
    color: #fff;
    &:before {
      background-color: #fff;
    }
  }

  .content {
    color: #fff;
    padding: 3em 1em 2em 1em;
  }

  #map-canvas {
    width: 100%;
    height: 35em;
    margin-bottom: 0;
  }
}

#contact {
  background-color: #fff;

  ul {
    list-style: none;
  }

  .contact_form {
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    padding: 1.5em;
    border-radius: 0.25rem;
    background-image:
        linear-gradient(-45deg,
            #fff 25%,
            $bg-base-color 25%, $bg-base-color 50%,
            #fff 50%, #fff 75%,
            $bg-base-color 75%, $bg-base-color);
    background-size: 8px 8px;
    background-clip: padding-box;

    .form-row {
      margin-bottom: 1.2em;
    }

    .form-control {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #495057;
      background-color: #fff;
      border: 1px solid $bg-base-color;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn {
      width: auto;
      color: #fff;
      background-color: #f53b57;
      border-color: #f53b57;

      &:hover {
        background-color: #ef5777;
        border-color: #ef5777;
      }
    }
  }

  @media (max-width:767px) {
    p {
      font-size: calc((100% + 0.25vw) * 0.75);
      margin-bottom: 0.2em;
      text-align: left;
    }
  }
}

#blog {
  height: 100%;
  background-color: #ffffff;

  .row {
    margin-top: 2em;
  }

  img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    background-color: #fff;
    opacity: 0.9;

    &:hover {
      opacity: 0.7;
    }
  }

  .content {
    min-height: calc(90vh - 10rem);
  }

  .post {
    margin-bottom: 1rem;
  }

  .post-title {
    font-size: 1em;
    font-weight: 600;
    margin-top: 1em;
    letter-spacing: 1px;
  }
}

#post {
  background-color: #ffffff;
  height: 100%;
  min-height: calc(100vh - 10rem);
  width: 100%;

  .page-title {
    position: relative;
    padding: 0.5rem;
    display: inline-block;
    color: $color-dark;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 2px;
  }

  .page-date {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    color: #686868;
  }

  .page-body {
    display: block;
    padding: 1.5rem;
    line-height: 1.7em;
  }

  .page-link {
    position: relative;
    display: block;
    padding: 2em 1em 1em;
    margin: 0 auto;
    line-height: 1.25;
    background-color: #fff;
    border: none;
  }

  img {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
  }
}

.btn {
  color: #fff;
  background-color: $color-dark;
  border-color: $color-dark;
  border-radius: 0;
  padding: 1em;
}

#gourmet {
  background-color: #ffffff;
  height: 100%;
  min-height: calc(100vh - 10rem);
  width: 100%;

  .page-title {
    position: relative;
    padding: 0.5rem;
    display: inline-block;
    color: $color-dark;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 2px;
  }

  .page-date {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    color: #686868;
  }

  .page-body {
    display: block;
    padding: 1.5rem;
    line-height: 1.7em;
  }

  .page-link {
    position: relative;
    display: block;
    padding: 2em 1em 1em;
    margin: 0 auto;
    line-height: 1.25;
    background-color: #fff;
    border: none;
  }

  .writer {
    img {
      width: 25%;
    }
  }

  .ico {
    width: 15px;
  }
  .ico-title {
    width: 30px;
  }
}

#shop-info {
  .page-body {
    display: block;
    padding: 1.5rem;
    line-height: 1.7em;
  }

  .hand-write {
    width: 100%;
  }
  .ico {
    width: 15px;
  }
  .ico-title {
    width: 30px;
  }
}
