---
layout: default
title: emorihouse
---

<div id="intro" class="container-fluid">
  <div class="row intro-inner">
    <img src="/assets/images/emorihouse2018.JPG">
    <div class="intro-title">
      <h1></h1>
    </div>
  </div>
</div>

<div id="about" class="container-fluid">
  <h2 class="area-title">About</h2>

  <div class="text-center content">
    {% include about.html %}
  </div>
</div>

<div id="member" class="container-fluid">
  <h2 class="area-title">Member</h2>

  <div class=" text-center content">
    {% include member.html %}
  </div>
</div>

<div id="contact" class="container-fluid">
  <h2 class="area-title">Contact</h2>

  <div class=" text-center content">
    {% include contact.html %}
  </div>
</div>


<div id="map" class="container-fluid">
  <h2 class="area-title">Map</h2>

  <div class=" text-center content">
    <p><strong>ゲストハウス　あああ</strong></p>
    <div>
      〒123-4567　福岡県あいうえおかきくけこ123-456<br>
      http://example.com
    </div>
  </div>
  <div class="row">
    <div id="map-canvas"></div>
  </div>
</div>



