---
title: emorihouse 2020
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ page.description | default: site.description | smartify }}">

  <title>{{ site.title | smartify }}</title>

  <!-- Bootstrap core CSS -->
  {% if site.github %}
  <link href="{{ site.baseurl }}/dist/css/bootstrap.min.css" rel="stylesheet" integrity="{{ site.cdn.css_hash }}" crossorigin="anonymous">
  {% else %}
  <link href="{{ site.baseurl }}/dist/css/bootstrap.css" rel="stylesheet">
  {% endif %}

  <link href="/assets/css/style.css" rel="stylesheet"/>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <link rel="icon" href="./assets/images/favicon.ico">
</head>
<body>
  <div style="text-align: center; margin-top: 60px;">
    <img src="/assets/images/emorihouse_marker.png" width="50px">

    <h1>emorihouse 2020</h1>

    <h5>2020/04/08 - 2020/04/12</h5>

    <p>＠ <a href="https://rubykaigi.org/2020">RubyKaigi 2020</a> 会場近くのゲストハウス</p>
  </div>
</body>
</html>

